.header-menu {
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 54px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  
}

.menu-header a {
  color: white;
  cursor: pointer;
  font-size: 16px;
  font-weight: 200;

  display: inline-block;

  transition: transform 0.8s ease, color 0.8s ease;
}

.logo-header {
  margin-top: 0;
}

.logo-header img {
  width: 106px;
  height: 54px;
  object-fit: contain;
}

.menu-header {
  display: none;
  align-items: center;
}

.logo-menu-desktop {
  width: 70px;
}

.menu-header a:hover {
  color: #f4a460;
  font-size: 24px;
  padding-bottom: 4px;
  border-bottom: 1px solid #f4a460;
  transform: scale(1.2);
}

.btn-header {
  padding-right: 94px;
}

.menu-header.ativo {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 54px;
  left: 70%;
  width: 30%;
  background-color: black;
  padding: 20px 0;
  gap: 40px;
  text-align: center;
}


@media screen and (min-width: 768px) {
  .header-menu {
    align-items: center;
    height: 70px;
  }
  .menu-header img {
    display: none;
  }

  .header-menu a {
    font-size: 20px;
    
  }

  .menu-header {
    display: flex;
    gap: 50px;
    flex: 1;
    justify-content: center;
  }

  .logo-header {
    padding-left: 20px;
    margin-top: 0;
  }

  .logo-header img {
    width: 130px;
    height: 70px;
  }

  .btn-header {
    display: none;

  }

}

@media screen and (min-width: 1440px) {
  .header-menu {
    height: 86px;
  }

  .header-menu a {
    font-size: 28px;
  }

  .menu-header {
    display: flex;
    gap: 80px;
  }

  .logo-header img {
    width: 150px;
    height: 86px;
  }


}

@media screen and (min-width: 1920px) {
  .menu-header {
    gap: 120px;
  }
}